@page "/uploadFormacoes"

@using MyWay2021.Shared.Models.Colaboradores
@using MyWay2021.Shared.Models.Formacoes
@using System.IO
@using System.Globalization
@using OfficeOpenXml
@using System.Data
@using System.Text

@inject HttpClient http

<SfToast ID="toast_error" @ref="ToastError" ShowCloseButton="true" NewestOnTop="true" ShowProgressBar="true">
    <ToastPosition X="Center"></ToastPosition>
</SfToast>
<SfToast ID="toast_ok" @ref="ToastOk" ShowCloseButton="true" NewestOnTop="true" ShowProgressBar="true"
         CssClass="e-toast-success" Icon="e-success toast-icons">
    <ToastPosition X="Center"></ToastPosition>
    <ToastTemplates>
        <Title>
            @ToastTitle
        </Title>
        <Content>
            @((MarkupString)ToastContent)
        </Content>
    </ToastTemplates>
</SfToast>

<AuthorizeView Context="authContext" Roles="@(" Administrador")">
    <Authorized>
        <div class="container-fluid">
            <div class="row">
                <BreadCrumb breadCrumbs="breadCrumbs"></BreadCrumb>
            </div>
            <div class="row">

                <div id="container" class="row col-12">
                    <SfSpinner @ref="SpinnerObj"></SfSpinner>
                    <div class="row col-12">
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="row p-2">
                                <InputFile OnChange="@OnFileSelection" accept=".xls,.xlsx">Escolher ficheiro</InputFile>
                            </div>
                            <div class="row p-2">
                                <SfButton CssClass="e-primary" @onclick="ProcessFile">Processar Ficheiro...</SfButton>
                            </div>
                        </div>
                        <div class="row col-12">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @if (maxProgres > 0)
                                {
                                    <div class="row p-2">
                                        <SfProgressBar Type="ProgressType.Linear" Value="@progress" Height="100"
                                                       Minimum="0" Maximum="@maxProgres" ShowProgressValue="true">
                                            <ProgressBarAnimation Enable="true"></ProgressBarAnimation>
                                        </SfProgressBar>
                                    </div>
                                    <div class="row p-2">
                                        <table>
                                            <tr>
                                                <td class="left-side">A processar...</td>
                                                <td>:<span id='text' class="right-side">Total @maxProgres linhas</span></td>
                                            </tr>
                                            <tr>
                                                <td class="left-side">A inserir:</td>
                                                <td>:<span id='text' class="right-side">@inserted</span></td>
                                            </tr>
                                            <tr>
                                                <td class="left-side">A atualizar:</td>
                                                <td>:<span id='text' class="right-side">@updated</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <Authorizing>
        <h1>Loading ...</h1>
    </Authorizing>
</AuthorizeView>
@code{
    SfSpinner SpinnerObj;
    public List<BreadCrumbData>
    breadCrumbs = new List<BreadCrumbData>();

    SfToast ToastError;
    SfToast ToastOk;

    private string ToastTitle = "";
    private string ToastContent = "";

    private List<ToastModel> Toast = new List<ToastModel> {
        new ToastModel{ Title = "ERRO!", Content="Por favor selecione um ficheiro.", CssClass="e-toast-danger", Icon="e-error toast-icons" },
        new ToastModel{ Title = "ERRO!", Content="os cabeçalhos do ficheiro não coincidem.", CssClass="e-toast-danger", Icon="e-error toast-icons" }
    };

    int inserted { get; set; } = 0;
    int updated { get; set; } = 0;
    int progress { get; set; }
    int maxProgres { get; set; }

    public List<Curso> cursos { get; set; }
    public List<Colaborador> colaboradores { get; set; }
    public List<AccaoFormacao> accoesFormacao { get; set; }

    public string[] formacoesFile = new string[] {
        "Formando","Curso","Acção","Empresa","Nº funcionário", "Departamento", "Categoria",
        "Função", "Data início acção", "Data fim acção","Nº total de horas da acção","Nº de horas frequentadas pelo formando"
    };
    public string[] moodleFile = new string[] {
        "nome", "curso", "nota", "data"
    };

    string Validate = "e-error";

    bool fileSelected = false;
    IBrowserFile myFile;
    private string textValue { get; set; }

    protected override async Task OnInitializedAsync()
    {
        BreadCrumbData breadCrumb = new BreadCrumbData
        {
            Text = "Início",
            Url = "/"
        };
        breadCrumbs.Add(breadCrumb);

        breadCrumb = new BreadCrumbData
        {
            Text = "Upload Dados de Formações",
            Url = "/uploadFormacoes"
        };
        breadCrumbs.Add(breadCrumb);

        cursos = await http.GetFromJsonAsync<List<Curso>>("api/curso");
        colaboradores = await http.GetFromJsonAsync<List<Colaborador>>("api/colaborador");
        accoesFormacao = await http.GetFromJsonAsync<List<AccaoFormacao>>("api/accaoFormacao");
    }


    public void OnChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<Guid, Uh> args)
    {
        if (args.Value == Guid.Empty)
        {
            this.Validate = "e-error";
        }
        else
        {
            this.Validate = "e-success";
        }
    }

    string myFileName = string.Empty;

    private async Task OnFileSelection(InputFileChangeEventArgs e)
    {
        myFile = e.File;
        var buffers = new byte[myFile.Size];
        await myFile.OpenReadStream(50000000).ReadAsync(buffers);
        string fileType = myFile.ContentType;
        if (myFile.Size > 0)
        {
            fileSelected = true;
        }
    }

    private async void ProcessFile()
    {
        if (!fileSelected)
        {
            if (!fileSelected)
            {
                await this.ToastError.Show(Toast[0]);
            }
            return;
        }
        else
        {

            var hasHeader = true;
            MemoryStream ms = new MemoryStream();
            await myFile.OpenReadStream(50000000).CopyToAsync(ms);
            ExcelPackage.LicenseContext = LicenseContext.NonCommercial;

            using ExcelPackage package = new ExcelPackage();
            package.Load(ms);

            //Lets Deal with first worksheet.(You may iterate here if dealing with multiple sheets)
            var ws = package.Workbook.Worksheets[0];

            //Get all details as DataTable -because Datatable make life easy :)
            DataTable excelasTable = new DataTable();
            foreach (var firstRowCell in ws.Cells[1, 1, 1, ws.Dimension.End.Column])
            {
                //Get colummn details
                if (!string.IsNullOrEmpty(firstRowCell.Text))
                {
                    string firstColumn = string.Format("Column {0}", firstRowCell.Start.Column);
                    excelasTable.Columns.Add(hasHeader ? firstRowCell.Text : firstColumn);
                }
            }
            var startRow = hasHeader ? 2 : 1;
            //Get row details
            for (int rowNum = startRow; rowNum <= ws.Dimension.End.Row; rowNum++)
            {
                var wsRow = ws.Cells[rowNum, 1, rowNum, excelasTable.Columns.Count];
                DataRow row = excelasTable.Rows.Add();
                foreach (var cell in wsRow)
                {
                    row[cell.Start.Column - 1] = cell.Text;
                }
            }

            string[] columnNames = excelasTable.Columns.Cast<DataColumn>()
                                     .Select(x => x.ColumnName)
                                     .ToArray();

           // Array.ForEach(columnNames, Console.WriteLine);

            maxProgres = excelasTable.Rows.Count;

            cursos = await http.GetFromJsonAsync<List<Curso>>("api/curso");
            colaboradores = await http.GetFromJsonAsync<List<Colaborador>>("api/colaborador");

            if (columnNames.SequenceEqual(formacoesFile))
            {
                //Console.WriteLine("Ficheiro do forinsia");

                int i = 0;

                foreach (DataRow row in excelasTable.Rows)
                {
                    //Console.WriteLine(" ");
                    string formando = RemoveDiacritics(row["Formando"].ToString());
                    //Console.WriteLine(formando);
                    string curso = RemoveDiacritics(row["Curso"].ToString());
                    //Console.WriteLine(curso);
                    string numPw = row["Nº funcionário"].ToString().Trim();
                    //Console.WriteLine(numPw);
                    DateTime dataFim = CsToDateTime(row["Data fim acção"].ToString());
                    //Console.WriteLine(dataFim);

                    int? numFuncionario = null;

                    if (Int32.TryParse(numPw, out int n))
                    {
                        numFuncionario = n;
                        //Console.WriteLine(n);
                    }
                    else
                    {
                        //Console.WriteLine("Sem número portway.");
                    }

                    if (!colaboradores.Any(n => RemoveDiacritics(n.Nome) == formando))
                    {
                        await AddColaborador(new Guid("81cfd799-1cb5-4852-8123-845ae6da4404"),
                            numFuncionario, formando, false, new Guid("f029ae62-42e2-45b5-ae2f-db2c8cbd92cc"));
                    }

                    Guid colaboradorID = colaboradores.Where(n => RemoveDiacritics(n.Nome) == formando).Select(i => i.ColaboradorID).FirstOrDefault();
                    //Console.WriteLine(colaboradorID);

                    if (!cursos.Any(n => RemoveDiacritics(n.Designacao) == curso))
                    {
                        await AddCurso(curso, 3);
                    }

                    Guid cursoID = cursos.Where(n => RemoveDiacritics(n.Designacao) == curso).Select(i => i.CursoID).FirstOrDefault();
                    //Console.WriteLine(cursoID);

                    //Console.WriteLine("a processar linha " + i++);

                    if (colaboradorID != Guid.Empty && cursoID != Guid.Empty)
                    {
                        await AddAccaoFormacao(colaboradorID, cursoID, dataFim);
                    }

                }

                this.ToastTitle = "SUCESSO!";
                this.ToastContent = "<h3>Ficheiro de formações processado com sucesso!</h3>" +
                    "<br /> Foram adicionados " + inserted + " registos!" +
                    "<br /> Foram atualizadas " + updated + " entradas!";
                await Task.Delay(1000);
                await this.ToastOk.Show();
                inserted = 0;
                updated = 0;
                progress = 0;
                maxProgres = 0;
                base.StateHasChanged();
            }
            else if (columnNames.SequenceEqual(moodleFile))
            {
                //Console.WriteLine("Ficheiro do moodle");

                int i = 0;

                foreach (DataRow row in excelasTable.Rows)
                {
                    //Console.WriteLine(" ");
                    string formando = RemoveDiacritics(row["nome"].ToString());
                    //Console.WriteLine(formando);
                    string curso = RemoveDiacritics(row["curso"].ToString());
                    //Console.WriteLine(curso);
                    DateTime dataFim = CsToDateTime(row["data"].ToString());
                    //Console.WriteLine(dataFim);

                    if (!colaboradores.Any(n => RemoveDiacritics(n.Nome) == formando))
                    {
                        await AddColaborador(new Guid("81cfd799-1cb5-4852-8123-845ae6da4404"),
                            null, formando, false, new Guid("f029ae62-42e2-45b5-ae2f-db2c8cbd92cc"));
                    }

                    Guid colaboradorID = colaboradores.Where(n => RemoveDiacritics(n.Nome) == formando).Select(i => i.ColaboradorID).FirstOrDefault();
                    //Console.WriteLine(colaboradorID);

                    if (!cursos.Any(n => RemoveDiacritics(n.Designacao) == curso))
                    {
                        await AddCurso(curso, 3);
                    }

                    Guid cursoID = cursos.Where(n => RemoveDiacritics(n.Designacao) == curso).Select(i => i.CursoID).FirstOrDefault();
                    //Console.WriteLine(cursoID);

                    //Console.WriteLine("a processar linha " + i++);

                    if (colaboradorID != Guid.Empty && cursoID != Guid.Empty)
                    {
                        await AddAccaoFormacao(colaboradorID, cursoID, dataFim);
                    }

                }

                this.ToastTitle = "SUCESSO!";
                this.ToastContent = "<h3>Ficheiro de formações processado com sucesso!</h3>" +
                    "<br /> Foram adicionados " + inserted + " registos!" +
                    "<br /> Foram atualizadas " + updated + " entradas!";
                await Task.Delay(1000);
                await this.ToastOk.Show();
                inserted = 0;
                updated = 0;
                progress = 0;
                maxProgres = 0;
                base.StateHasChanged();
            }
            else
            {
                //Console.WriteLine("os cabeçalhos do ficheiro não coincidem");

                await this.ToastError.Show(Toast[1]);

                return;
            }
            this.StateHasChanged();
        }

    }

    private async Task AddColaborador(Guid uhID, int? num, string nome, bool ativo, Guid depId) {
        Colaborador novoColaborador = new()
        {
            //ColaboradorID = Guid.NewGuid(),
            UhID = uhID,
            NumPw = num,
            Nome = nome,
            Ativo = ativo,
            DepartamentoID = depId
        };

        await http.PostAsJsonAsync("api/colaborador", novoColaborador);

        colaboradores = await http.GetFromJsonAsync<List<Colaborador>>("api/colaborador");
    }

    private async Task AddCurso(string curso, int val)
    {
        Curso novoCurso = new()
        {
            //CursoID = Guid.NewGuid(),
            Designacao = curso,
            Validade = val
        };

        await http.PostAsJsonAsync("api/curso", novoCurso);
        cursos = await http.GetFromJsonAsync<List<Curso>>("api/curso");

    }

    private async Task AddAccaoFormacao(Guid colaboradorID, Guid cursoID, DateTime dataFim)
    {
        AccaoFormacao current = new()
        {
            //AccaoFormacaoID = Guid.NewGuid(),
            ColaboradorID = colaboradorID,
            CursoID = cursoID,
            DataAccao = dataFim
        };

        if (accoesFormacao.Any(a => a.ColaboradorID == colaboradorID
                                 && a.CursoID == cursoID))
        {
            var old = accoesFormacao.Where(a => a.ColaboradorID == colaboradorID
                                 && a.CursoID == cursoID).FirstOrDefault();

            current.AccaoFormacaoID = old.AccaoFormacaoID;

            if (old.DataAccao < current.DataAccao)
            {
                await http.PutAsJsonAsync("api/accaoFormacao", current);
            }

            updated += 1;
            progress += 1;
            //Console.WriteLine("existem " + updated + " duplicados");
            base.StateHasChanged();
        }
        else
        {
            await http.PostAsJsonAsync("api/accaoFormacao", current);
            inserted += 1;
            progress += 1;
            //Console.WriteLine("foram inseridas " + inserted + " linhas");
            base.StateHasChanged();
        }
    }

    static string RemoveDiacritics(string text)
    {
        return string.Concat(
            text.Normalize(NormalizationForm.FormD)
            .Where(ch => CharUnicodeInfo.GetUnicodeCategory(ch) !=
                                          UnicodeCategory.NonSpacingMark)
          ).Normalize(NormalizationForm.FormC).Trim().ToUpper();
    }

    private DateTime CsToDateTime(string str)
    {
        string[] dateFormats = new[]
            {
                "d/M/yyyy HH:mm:ss tt",
                "M/d/yyyy HH:mm:ss tt",
                "dd/MM/yyyy HH:mm:ss",
                "dd-MM-yyyy HH:mm:ss"
            };

        DateTime dateTime;

        if (DateTime.TryParseExact(str, dateFormats, CultureInfo.InvariantCulture, DateTimeStyles.None, out dateTime))
        {
            return dateTime;
        }
        else
        {
            dateTime = DateTime.Parse("01-01-1900 00:00:00", CultureInfo.InvariantCulture);
            return dateTime;
        }
    }

}